# Gradle
.gradle/
build/
**/build/

# Lokalna konfiguracija
local.properties
.idea/
*.iml

# Android Studio
.cxx/
.externalNativeBuild/
captures/
output.json

# Keš i logovi
*.log

# OS fajlovi
.DS_Store
Thumbs.db

# Keystore fajlovi
*.jks
*.keystore

# Jetpack Compose previews
.idea/deploymentTargetDropDown.xml
.idea/misc.xml
.idea/runConfigurations.xml

# Kotlin
*.kotlin_module
